<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.llf.demo.dao.BlockMapper">
  <resultMap id="BaseResultMap" type="io.llf.demo.po.Block">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="blockhash" jdbcType="CHAR" property="blockhash" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="txSize" jdbcType="SMALLINT" property="txsize" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="difficulty" jdbcType="DOUBLE" property="difficulty" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="nonce" jdbcType="INTEGER" property="nonce" />
    <result column="previousblock" jdbcType="CHAR" property="previousblock" />
    <result column="nextblock" jdbcType="CHAR" property="nextblock" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, blockhash, height, time, txSize, size, difficulty, weight, version, nonce, previousblock, 
    nextblock
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_block
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_block
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.llf.demo.po.Block">
    insert into tb_block (bid, blockhash, height, 
      time, txSize, size, 
      difficulty, weight, version, 
      nonce, previousblock, nextblock
      )
    values (#{bid,jdbcType=INTEGER}, #{blockhash,jdbcType=CHAR}, #{height,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{txsize,jdbcType=SMALLINT}, #{size,jdbcType=INTEGER}, 
      #{difficulty,jdbcType=DOUBLE}, #{weight,jdbcType=REAL}, #{version,jdbcType=VARCHAR}, 
      #{nonce,jdbcType=INTEGER}, #{previousblock,jdbcType=CHAR}, #{nextblock,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.llf.demo.po.Block">
    insert into tb_block
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="blockhash != null">
        blockhash,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="txsize != null">
        txSize,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="difficulty != null">
        difficulty,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="nonce != null">
        nonce,
      </if>
      <if test="previousblock != null">
        previousblock,
      </if>
      <if test="nextblock != null">
        nextblock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="blockhash != null">
        #{blockhash,jdbcType=CHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="txsize != null">
        #{txsize,jdbcType=SMALLINT},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null">
        #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=REAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        #{nonce,jdbcType=INTEGER},
      </if>
      <if test="previousblock != null">
        #{previousblock,jdbcType=CHAR},
      </if>
      <if test="nextblock != null">
        #{nextblock,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.llf.demo.po.Block">
    update tb_block
    <set>
      <if test="blockhash != null">
        blockhash = #{blockhash,jdbcType=CHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="txsize != null">
        txSize = #{txsize,jdbcType=SMALLINT},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null">
        difficulty = #{difficulty,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=REAL},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="nonce != null">
        nonce = #{nonce,jdbcType=INTEGER},
      </if>
      <if test="previousblock != null">
        previousblock = #{previousblock,jdbcType=CHAR},
      </if>
      <if test="nextblock != null">
        nextblock = #{nextblock,jdbcType=CHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.llf.demo.po.Block">
    update tb_block
    set blockhash = #{blockhash,jdbcType=CHAR},
      height = #{height,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      txSize = #{txsize,jdbcType=SMALLINT},
      size = #{size,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=REAL},
      version = #{version,jdbcType=VARCHAR},
      nonce = #{nonce,jdbcType=INTEGER},
      previousblock = #{previousblock,jdbcType=CHAR},
      nextblock = #{nextblock,jdbcType=CHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>